<div>
	<h1>Add Course</h1>
	<form>
		<label>Course Name:</label>
		<input type="text" ng-model="course.name" /> </br>
		<label>Category:</label>
		<select ng-model="course.category">
			<option>-Select-</option>
			<option value="development">Development</option>
			<option value="business">Business</option>
			<option value="design">Design</option>
			<option value="marketing">Marketing</option>
		</select> </br>
		<label>Timeline:</label>
		<input type="number" ng-model="course.timeline" /> </br>
		<label>Price:</label>
		<input type="number" ng-model="course.price" /> </br>
		<button ng-click="addCourse(course)">Add</button>
		<button ng-click="toggleAddCourse(false)">Cancel</button>
	</form>
</div>